.banner {
    background: url('../img/image-main.jpeg') 0 0/cover no-repeat;
}

.banner-block {
    padding: 210px 0px;
}

.banner-block h1 {
    color: #f8b803;
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
}
.banner-block__subtitle{
    max-width: 570px;
}
.banner-block__subtitle p {
    color: #242424;
    font-size: 54px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}
.banner-block__subtitle span {
    color: #f8b803;
}

.banner-block__p {
    color: #777777;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    padding-top: 20px;
}

.banner-block__p span {
    color: #669904;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}

.banner-block__btn {
    position: relative;
    top: 75px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #f8b803;
    width: 140px;
    height: 55px;
    border-radius: 5px;
}

.banner-block__btn a {
    color: #fff;
    font-size: 15.4px;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}