@media (min-width: 768px){
.best-selling__header {
    color: #f8b803;
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    align-items: center;
}
.best-selling__title {
    color: #242424;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    font: weight 400px;
    display: flex;
    align-items: center;
}
.best-selling__title span{
    color: #f8b803;
}
.best-selling__slogan{
    color: #777777;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
}
.divider{
    width: 6%;
    height: 2px;
    background-color: var(--yellow-color);
    position: relative;
}

.preview-img{
    width: 300px;
    
}
.best-selling__subheading{
    color: #777777;
    font-size: 19px;
    font-family: 'Work Sans', sans-serif;
}
.best-selling__price{
    color: #f8b803;
    font-size: 19px;
    font-family: 'Work Sans', sans-serif;
    font-weight:700;
}
.add-to-cart-best-selling__btn {
    position: relative;
    top: 75px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #242424;
    width: 140px;
    height: 50px;
    border-radius: 5px;
}
.add-to-cart-best-selling__btn a {
    color: #fff;
    font-size: 15.4px;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}