.best-prices {
    font-family: "Work Sans", sans-serif;
    padding-top: 90px;
    padding-bottom: 60px;
}

.best-prices__header{
    display: flex;
    flex-direction: column;
    align-items: center;    
    }

.best-prices__tab-nav{
    margin-top: 45px;
    display: flex;   
    width: calc(100%+30px);
    overflow-x: scroll;
    border-bottom: solid 2px rgba(177, 173, 173, 0.5);
}    

.best-prices__product-cards{
    display: grid;
    grid-template-columns: 1fr;
 }

.best-prices__product-card{
    margin-top: 50px;
    padding: auto 15px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: auto;
    align-items: flex-start;    
}

.content-electric-guitars,
.content-acoustic-guitars,
.content-drums,
.content-orchestric,
.content-other{
    display: none;
}

@media (min-width: 657px){
    .best-prices__tab-nav{
         justify-content: center;
    }     
}

@media (min-width: 768px){
    .best-prices__product-cards{
        grid-template-columns: 1fr 1fr;       
    }            
    .best-prices__tab-nav{
        overflow: hidden;
    }
}

@media (min-width: 992px){
    .best-prices__product-cards{
        grid-template-columns: repeat(4, 1fr);     
    }
    .best-prices__product-card{
        margin-top: 30px;
        margin-right: 15px;
        margin-left: 15px;
    }
}

.best-prices h2{
    color: var(--yellow-color);
    font-size: 12px;
    font-weight: 600;
}

.best-prices__title{
    color: rgb(36,36,36);
    font-size: 34px;
    font-weight: 600;
    margin-top: 20px;
}

.best-prices__header-slogan{
    color: rgb(119,119,119);
    font-size: 18px;
    font-weight: 400;
}

.tab-nav{
    display: block;
    color: rgb(119,119,119);
    font-size: 16px;
    font-weight: 400;
    padding: 15px 20px;
    white-space: nowrap; 
    cursor: pointer;      
}
.best-prices__product-card-photo{
    display: block;
    max-width: 100%;
}
.best-prices__product-cards  img{
    max-width: 100%;
}
.best-prices__product-card-name{
    margin-top: 8px;
    font-size: 18px;
    color: rgb(119,119,119);
}
.best-prices__product-card-name:hover{
    text-decoration: underline;
}

.best-prices__product-card-link{
    text-decoration: none;
}

.best-prices__product-card-price{
    margin-top: 16px;
    color:var(--yellow-color);
    font-size: 18px;
    font-weight: 700;
}

.add-to-cart__btn{
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
    cursor: pointer;
    padding: 16px 24px;    
    margin-top: 24px;
    margin-bottom: auto;   
}

.add-to-cart__btn:hover,
.best-prices__convert:hover{
    background-color: var(--yellow-color);
}

.add-to-cart__btn a{
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.best-prices__divider-component{
    width: 5%;
    height: 2px;
    background-color: var(--yellow-color);
    margin: 15px 0;
}
.tab-nav-active {
    font-weight: bold;
    border-bottom: solid 3px var(--yellow-color);
}
.currencyBlock{
    display: flex;     
}
.best-prices__convert{
    font-size: 20px;
    color: whitesmoke;
    background-color: rgb(36, 36, 36);
    border-radius: 0 5px 5px 0;
    border: solid 3px rgb(36, 36, 36);
    cursor: pointer;
    padding: 15px 10px;    
    margin-bottom: auto;    
}
.best-prices__currency{
    display: block;
    color: rgb(119,119,119);
    font-size: 16px;
    font-weight: 400;
    padding: 15px 20px;
    white-space: nowrap; 
    cursor: pointer;
    border: solid 3px rgb(36, 36, 36); 
    border-radius: 5px 0 0 5px; 
}
.best-prices__currency:hover{
    background-color: var(--yellow-color);
    color: white;
}