.brands__img {
    max-width: 250px;
    max-height: 121px;
    display: block;
}

.brands__carousel-back {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.brands__carousel-forward {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.brands__carousel {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

@media (min-width: 500px) {
    .brands__carousel-slide-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 750px) {
    .brands__carousel-slide-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 990px) {
    .brands__carousel-slide-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .brands__img {
        max-width: 165px;
        max-height: 83px;
    }
}