.countdown {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.countdown-item-days, .countdown-item-hours, .countdown-item-minutes, .countdown-item-seconds {
    flex-grow: 4;
}

.countdown-item-days, .countdown-item-hours, .countdown-item-minutes {
    border-right: 1px solid rgb(107, 107, 107);
}

.countdown-dates {
    font-size: 36px;
    color: #fff;
    font-weight: 600;
}

.countdown-text {
    font-size: 18px;
    color: rgb(107, 107, 107);
}
.countdown-dates, .countdown-text {
    font-family: "Work Sans", sans-serif;
    fill: currentColor;
    text-anchor: middle;
}

