.guitar-of-the-month {
    background-image: url(../img/guitar-of-the-month/guitar-of-the-month-background.webp);
    background-attachment: fixed;
    background-position: 90% 50%;
    background-size: cover;
    padding: 90px 0;
    margin: 30px 0;
}

.guitar-of-the-month-text-block-title {
    color: var(--yellow-color);
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.guitar-of-the-month-text-block-name {
    font-size: 48px;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    line-height: 1.2 !important;
    margin-top: 20px;
}

.guitar-of-the-month-text-block-name span {
    font-size: 54px;
    color: var(--yellow-color);
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.guitar-of-the-month-text-block-description {
    font-size: 16px;
    color: rgb(107, 107, 107);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    padding-top: 20px;
    line-height: 1.5 !important;
    margin-top: 5px;
}

.guitar-of-the-month-text-block-description-second {
    font-size: 16px;
    color: rgb(107, 107, 107);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5 !important;
}

.guitar-of-the-month-photo {
    width: 43%;
}

.guitar-of-the-month-img {
    display: flex;
    justify-content: center;
}

.guitar-of-the-month-content {
    min-width: 320px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .guitar-of-the-month-content {
        display: flex;
        flex-direction: row;
    }

    .guitar-of-the-month {
        padding: 105px 0;
    }

    .guitar-of-the-month-img {
        flex-basis: 42%;
        max-width: 42%;
    }

    .guitar-of-the-month-text-block {
        display: flex;
        flex-basis: 58%;
        max-width: 58%;
        flex-direction: column;
    }

    .guitar-of-the-month-photo {
        object-fit: contain;
        object-position: 50% 50%;
    }
}

.guitar-of-the-month-text-block {
    margin-top: 50px;
}