.offer__body {
    display: block;
    margin-bottom: 15px;
}

.offer__column {
    padding: 15px 0;
}

.offer__item {
    height: 100%;
    padding: 35px;
}

@media (min-width: 768px) {
    .offer__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .offer__item {
        padding: 45px;
    }
}

.item-offer-drum {
    background: url('../img/offer/drum-offer.jpg') 0 0/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-offer-guitar {
    background: url('../img/offer/guitar-offer.jpg') 0 0/cover no-repeat;
    background-position: 95% 95%;
}

.item-offer-drum__title {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.75em;
    color: var(--yellow-color);
    text-align: center;
    margin: 25px 0 15px 0;
}

.item-offer-drum__subtitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
}

.item-offer-drum__subtitle span {
    color: #f8b803;
}
.item-offer-drum__text {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 1.5;
}

.item-offer-drum__btn {
    margin-top: 35px;
    top: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #f8b803;
    width: 140px;
    height: 55px;
    border-radius: 5px;
}

.item-offer-drum__btn a {
    color: #fff;
    font-size: 15.4px;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}

.item-offer-guitar__title {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.75em;
    color: var(--yellow-color);
    margin: 90px 0 0 0;
}

.item-offer-guitar__subtitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    color: #242424;
    font-weight: 600;
    margin: 15px 0 0 0;
}

.item-offer-guitar__subtitle span {
    color: #f8b803;
}