.promo {    
    background-image: url(../img/promo/promo-background.jpg);
    background-attachment: fixed;
    background-position: 59.69% 95.57%;
    background-size: cover;
    background-position: center;
    padding: 90px 0;  
    }

.promo-content{
    padding: 0 24px;
    min-width: 320px;
}

.promo__product-cards { 
    margin-top: 45px;
}    
           
.promo__product-card{   
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    background: rgba(255, 255, 255, 0.04);
    padding: 31px 27px;
    margin: 50px 15px;
        }

@media (min-width: 768px) {
    .promo-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .empty{
        grid-row: 1 /3;
    }
    .promo__product-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;        
        margin-top: 0px;
    } 
    .promo__product-card-name{
        font-size: 23px;
        font-weight: 500;
        line-height: 32.2px;
    }   
}

.promo__header {
    display: flex;
    flex-direction: column;
    margin: 0 15px;    
    }

.promo__header h2,
.promo__product-card-type {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 0.75em;
    color: var(--yellow-color);
}

.promo__main {
    font-family: "Work Sans", sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: white;
    padding-top: 10px;
}

.promo__footer {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    color: white;
    padding-top: 10px;
    line-height: 27px;
}


.promo__product-card-name{
    font-size: 22px;
    font-weight: 600;
    color: white;
    padding-top: 10px;    
}

.promo__product-card-photo{
    width: 100%;
}
.promo__product-card-price{
    color: var(--price-color);
    font-size: 18px;
    font-weight: 700;
}

.promo__product-card-view-details{
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

.promo__product-card a:hover {
    text-decoration: underline;
}

.highlighter {
    color: var(--yellow-color);
}

.divider-component {
    width: 11%;
    height: 2px;
    background-color: var(--yellow-color);
    margin: 15px 0;
}
.promo__product-cards img {
    display: block;
    margin-bottom: 10px;
}