.a-blocks{
    /* padding-top: 40px; */
    padding-bottom: 20px;
}

/*.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}*/


.blocks__body{
    display: block;
    /* display: flex; */
    margin-bottom: 15px;
    
}

.blocks__column{
    padding: 15px 0;
    display: flex;
    /* -webkit-box-pack: center;
    justify-content: center; */
}

.block__item{
    height: 100%;
    padding: 35px;
}

@media (min-width: 768px) {
    .blocks__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    .block__item {
        padding: 45px;
    }
}

.countdown_3O8{
    display: flex;
}


    /* .block__item .item-blocks-guitar {
        padding: 45px;
    } */


/* .item-block-drum{
    background: url('../img/tools/sticks.png') 0 0/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
} */

.item-block-drum{
    background: url('../img/tools/sticks.png') 0 0/cover no-repeat;
    background-position: 95% 95%;
    /* width: 600px; */
    

}

.item-blocks-guitar{
    background: url('../img/tools/gitar.png') 0 0/cover no-repeat;
    background-position: 95% 95%;
    /* width: 600px; */
    

}

.item-block-drum__title {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.75em;
    color: var(--yellow-color);
    text-align: center;
    margin: 25px 0 15px 0;
    vertical-align: baseline;
}

.item-block-drum__subtitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    color: #000;
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
}

.item-block-drum__subtitle span {
    color: #f8b803;
}

.item-block-drum__text {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: #000;
    text-align: center;
    line-height: 1.5;
}

.item-block-drum__text span{
    color: green;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;

}

.item-blocks-guitar__title {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.75em;
    color: #fff;
    font-weight: bold;
    margin: 25px 0 15px 0;
    vertical-align: baseline;
}

.item-blocks-guitar__subtitle{
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
}

.item-blocksr-guitar__subtitle{
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    color: #fff;
    
    font-weight: 600;
    margin-bottom: 15px;
}

.item-blocksr-guitar__subtitle span{
    color: #f8b803;
}

.w-text-block{
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    color: #f8b803;
    font-weight: 600;
    margin-bottom: 15px;
}

.w-text-block_2{
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    color: #e2e2e2;
    font-weight: 600;
    margin-bottom: 15px;
}



.countdown__item_2Sa{
    position: relative;
}




@media (min-width: 768px){
    .item-block-drum__subtitle {
    font-size: inherit;
}
}

.item-block-drum__text{
    color: #242424!important;
    font-size: inherit;
}


.item-block-guitar__btn {
    margin-top: 35px;
    top: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 140px;
    height: 55px;
    border-radius: 5px;
}

.item-block-guitar__btn a {
    color: #000;
    font-size: 15.4px;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}


.services__body-1 {
    display: flex;
    flex-wrap: wrap;
    margin: 60px -15px 60px -15px;
}

.services__column-2 {
    padding: 0px 15px;
}

@media (min-width: 768px) {
    .services__column-2 {
        flex: 0 1 50%;
        margin-bottom: 30px;
    }    
}



.services__item-5 {
    height: 100%;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    padding: 35px;
}

.item-services__icon-6 {
    text-align: center;
    line-height: 150%;
    margin-bottom: 15px;
    font-size: 35px;
    color: #f8b803;
}

.item-services__title-7 {
   font-size: 24px;
   color: #242424;
   font-family: 'Work Sans', sans-serif;
   text-align: left;
   justify-content: center;
   line-height: 150%;
}

.item-services__text-8 {
    font-size: 14px;
    color: #777777;
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    justify-content: center;
    line-height: 150%;
}

.divider{
    width: 5%;
    height: 2px;
    background-color: var(--yellow-color);
    margin: 15px 0;
}

.pic{
    display: block;
    width: 100%;
}